<% if object && object.errors.any? %>
  <div id="errors">
    <ul>
      <% custom_errors(object.errors).each do |msg| %>
        <li>
          <i class="icon-cancel-circle"></i>
          <%= msg   %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>