<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					<p>Copyright © 2015 - My New G - All Rights Reserved</p>
				</div>

				<ul class="footer-links">
					<li><%= link_to 'Terms And Conditions', terms_path %></li>
					<li><%= link_to 'Privacy Policy', privacy_path %></li>
					<li><%= link_to 'Contact Us', contact_path %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>