h1 {
    margin: 0 0 50px;
}

h2, h3 {
    margin: 0 0 30px;
}

.package {
	text-transform: uppercase;
}

.card-details {
	padding-left: 40px;
	margin-top: -20px;
	margin-bottom: 20px;
}

input[type='submit'] {
	margin-top: 40px;
	width: 100%;
}