#search
{
    background-color:rgba(57,57,57,1);
    height:50px;
    overflow: hidden;

    form
    {
        float:right;
        margin-top: 6px;

        div
        {
            float:right;
            position: relative;

            input
            {
                background-color: rgba(57,57,57,1);
                border-bottom: 2px solid rgba(255, 255, 255, 0.1);   
                outline:none;
                border-top: 0;
                border-left:0;
                border-right: 0;
                height:28px;
                margin:5px 0;
                padding-left:25px;
                width: 225px;
                
            }

            &:before
            {
                content: "\e07f";
                position: absolute;
                color: rgba(255, 255, 255, 0.1);
                top:7px;
                left:2px;
                font-family: 'icomoon';
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                font-size:1.3em;
            }
        }
    }
}