/**************************************
 Colour used Valiables 
 **************************************/
$white: #fff;
$pink: #ec3b50;
$dark-grey: #222325;
$grey: #3B3B3B;
$light-grey: #A6A7A7;

$red: #ff0c29;
$light-red: #f75050;
$orange: #f5a624;
$grey-lighter-smooth: #e2e2e2;
$grey-lighter: #dfdfdf;
// $grey: #7d7d7d;
$card-color: #3D3D3D;
$highlight-grey: #292929;

$logo-text-color: $dark-grey;

$primary-text-color: white;
$secondary-text-color: $light-grey;

$highlight-color: $pink;

$button-color: $pink;
$button-pushed-color: #5B171F;

$navbar-color: white;
$picture-border-color: white;
$overlay-color: rgba(0, 0, 0, 0.8);

$bg-highlight-color: $grey;
$bg-darker-highlight-color: $highlight-grey;

$input-box-color: white;
$input-box-error-color: $light-red;



/**************************************
 Fonts Valiables 
 **************************************/
// $baseline-title-font: gothic, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
// $baseline-font: "Raleway", sans-serif;
$baseline-title-font: 'Lato', sans-serif;
$baseline-font: "Lato", sans-serif;



/**************************************
 Size Valiables 
 **************************************/

$baseline-size: 1em;
$input-textbox-width: 400px;
$input-textbox-height: 46px;



$baseline-text-color: $grey-lighter-smooth;
$background-color: $dark-grey;
$input-textbox-color: $grey-lighter-smooth;
$input-background-color: $background-color;



